.logo {
    text-align: center;
	position:relative;
}
canvas {
	display: inline-block;
    vertical-align: middle;
}
.logo-name {
    height: 0;
    left: 50%;
    position: absolute;
}
.logo-name-content {
    cursor: default;
    font-weight: bold;
    left: -50%;
    line-height: 100%;
    position: relative;
}